<div class="content">
    <img src="{{meme.memeSrc}}" alt="" />
    <h3>Name: {{meme.memeName}}</h3>
    <h2>Votes: {{meme.votes}}</h2>
    <p> {{meme.description}}</p>
    <a id="download" href="{{meme.imgDetails}}">Download Meme</a>
    <a id="vote" href="/vote/{{meme._id}}">Vote for Meme</a>
</div>