<h1>Manage orders</h1>
<div class="orders">
	<form method="post">
		{{#each orders}}
		<div class="order">
			<span class="order-time">{{dateFormat date "MMMM Do YYYY, h:mm"}}</span>
			<span class="order-name">{{product.category.name}} doner, {{product.size}} cm</span>
			<span class="order-status">
				<select name="{{_id}}">
						<option value="Pending" {{#eq status 'Pending'}}selected{{/eq}}>Pending</option>
						<option value="In Progress" {{#eq status 'In Progress'}}selected{{/eq}}>In Progress</option>
						<option value="In Transit" {{#eq status 'In Transit'}}selected{{/eq}}>In Transit</option>
						<option value="Delivered" {{#eq status 'Delivered'}}selected{{/eq}}>Delivered</option>
				</select>
			</span>
			<a href="/order/details/{{_id}}" class="button order-button">Details</a>
		</div>
		{{/each}}
		<input type="submit" value="Save Changes" class="button" style="border:0">
	</form>
</div>